<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabriel Moreira | Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- // Intro -->
    <header>
        <div class="content-wrap">
            <img class="profile-img column-narrow" src="images/gabriel-moreira.png" alt="Gabriel Moreira">
            
            <div class="column-wide">
              <h1>Gabriel Moreira</h1>
              <h2>Web Developer + Product Engineer</h2>
              <p>Electronics hobbyist, passionate about web-development technologies with over 5 years of experience as a Product Engineer where I could improve most of my skills on project management, leadership and customer service.</p>
            </div>
        </div>
    </header>
    
    <main> 
        <!-- // Work Experience -->
        <section class="work">
            <div class="content-wrap">
                <h2>Work Experience</h2>

                <!-- Job Details -->
                <div class="column-narrow">
                    <h3>Product Engineer</h3>
                    <a target="_blank" href = "http://www.tes.com.br"><p>TES Tecnologia</p></a>
                    <p>January 2011 - January 2016</p>
                </div>
                
                <div class="column-wide">
                    <p>Created and managed all adult focused curriculum, instructor training and tech related strategies and duties.</p>

                    <p>Key contributions:</p>
                    <ul>
                        <li>Managed projects on product development and solution implementation.</li>
                        <li>Worked in R&D / Product development departmen.</li>
                        <li>Supervised and trained engineering trainees.</li>
                        <li>Trained and demonstrated products and solutions to partners and customers.</li>
                        <li>Provided support to partner’s customer service remotely and locally.</li>
                        <li>Created technical documents, most of the time translating from English to Portuguese.</li>
                    </ul>
                </div>
                
                <!-- Job Details -->
                <div class="column-narrow">
                    <h3>Grad Tutor</h3>
                    <a target="_blank" href = "https://library.centennialcollege.ca/learning-centre/"><p>Centennial College</p></a>
                    <p>May 2017 - August 2017</p>
                </div>
                <div class="column-wide">
                    <p>Helped students from various programs, provided support to peer tutors and reported about students performance.</p>
                    <p>Key contributions:</p>
                    <ul>
                        <li>Facilitated learning sessions for math courses related to the following programs: Biotechnology, Architectural Technology, Practical Nursing, Bridging to University Nursing, Pre-Health Sciences, Automotive Power Technician, Career and College Transition.</li>
                        <li>Performed statistical analysis to evaluate the significance of the tutoring service according to the amount of times the students used it, their improvement towards math and quick in-session assessments.</li>
                        <li>Promoted the tutoring services: In-class presentations and Q&A about the available services.</li>
                    </ul>
                </div>
            </div>
        </section>
        
        
        
        <!-- // Education -->
        <section class="education">
            <div class="content-wrap">
                <h2>Education</h2>
                
                <!-- School details-->
                <h3>Seneca College - Toronto, ON</h3>
                <h4><a target="_blank" href="http://www.senecacollege.ca/programs/fulltime/CPD.html">Computer Programming</a>, 2017 - 2018</h4>
                <p>2 years full-time web/application development program.</p>
                
                <h3>UNIP (Universidade Paulista) - São Paulo, Brazil</h3>
                <h4>Bachelor of Science, 2009-2014</h4>
                <p>Major in Electrical Engineering.</p>
            </div>
        </section>
        
        <!-- // Volunteer Experience -->
        <section class="volunteer">
            <div class="content-wrap">
                <h2>Volunteer Experience</h2>
    
                <!-- Job Details -->
                <div class="column-narrow">
                    <h3>English Course Volunteer</h3>
                    <a target = "_blank" href = "https://www.facebook.com/pontesdegracatoronto/"><p>United Church of Canada</p></a>
                    <p>May 2017 - August 2017</p>
                </div>
                
                <div class="column-wide">
                    <p>Created and managed all adult focused curriculum, instructor training and tech related strategies and duties.</p>
    
                    <p>Key contributions:</p>
                    <ul>
                        <li>Managed projects on product development and solution implementation.</li>
                    </ul>
                </div>
                
                <!-- Job Details -->
                <div class="column-narrow">
                    <h3>Seneca Ambassador</h3>
                    <a target="_blank" href = "https://www.senecacollege.ca"><p>Seneca College</p></a>
                    <p>February 2017</p>
                </div>
                <div class="column-wide">
                    <p>Key contributions:</p>
                    <ul>
                        <li>Assisted Seneca College’s Institutional Research department promoting Key Performance Indicator (KPI) survey to students and administrating in-class survey.</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- // Project Samples -->
        <section class="project-samples">
                <div class="content-wrap">
                    <h2>Project Samples</h2>
        
                    <!-- Job Details -->
                    <div class="column-narrow">
                        <h3>MEAN Stack Sample</h3>
                    </div>
                    
                    <div class="column-wide">
                        <a target = "_blank" href = "https://gabrielmoreira-foodshop.herokuapp.com/"><p>Heroku Deployed App</p></a>
                        <a target = "_blank" href = "https://github.com/gmmeng/foodShop"><p>GitHub Repository</p></a>
                    </div>
                </div>
            </section>
    </main>
    
    <!-- // Footer & contact info -->
    <footer>
        <div class="content-wrap">
            <h2>Let's Keep in Touch!</h2>
            
            <!-- Social media and contact links. Add or remove any networks. -->
            <div class="contact-info">
                <a href="mailto:gmmoreira.eng@gmail.com">gmmoreira.eng@gmail.com</a>
                <a target="_blank" href="https://github.com/gmmeng/"><i class="fa fa-git-square"></i><img src=""</a>
                <a target="_blank" href="https://www.linkedin.com/in/gabrielmmoreira"><i class="fa fa-linkedin-square"></i></a>
                <a target="_blank" href="https://www.facebook.com/gabriel.moreira.18488169"><i class="fa fa-facebook-square"></i></a>
            </div>

            <p>Copyright 2018 by Gabriel Moreira</p>
        </div>
    </footer>
</body>
</html>